<%- include('../common/header', {
    title: "Product Form",
    moduleName: "Product",
    formPath: "/product",
    listPath: "/product/list"
}) %>


    <style>
        .buttonContainer {
            text-align: center;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
    </style>

    <h1 style="text-align: center;">product List</h1>

    <table border="1" cellpadding="5" style="border-collapse: collapse;; 
    text-align: left; font-size: 12px; margin: auto;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th>productId</th>
                <th>productName</th>
                <th>product Price</th>
                <th>product Stock</th>
                <th>Category Id</th>
                <th>manufacturerId</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody id="productTableBody">
            <tr>
                <td colspan="4" style="text-align: center;">Loading...</td>
            </tr>
        </tbody>
    </table>

    <div id="buttonsContainer" class="buttonContainer"></div>

     <script>
        var page = 1
        async function loadproduct(page = 1) {
            const tbody = document.getElementById("productTableBody");
            tbody.innerHTML = `<tr><td colspan="4" style="text-align:center;">Loading...</td></tr>`;

            try {
                const response = await fetch(`http://localhost:3006/api/product/list?page=${page}`);
                const data = await response.json();
                 console.log("API response:", data); 

                if (!data || data.product.length === 0) {
                    tbody.innerHTML = `<tr><td colspan="4" style="text-align:center;">No product found</td></tr>`;
                    document.getElementById("buttonsContainer").innerHTML = "";
                    return;
                }

                tbody.innerHTML = "";

                data.product.forEach(product => {
                    const row = `
                        <tr>
                            <td>${product.productId}</td>
                            <td>${product.productName}</td>
                             <td>${product.productPrice}</td>
                              <td>${product.productStock}</td>
                             <td>${product.categoryId || ''}</td>
                             <td>${product.manufacturerId || ''}</td>

                            <td>
                                <a href="/product/${product.productId}" style="color: blue; text-decoration: underline;">Edit</a>
                                <a onclick="deleteproduct('${product.productId}')" style="color: blue; text-decoration: underline; cursor:pointer;">Delete</a>
                            </td>
                        </tr>
                    `;
                    tbody.insertAdjacentHTML("beforeend", row);
                    

                });

                const buttonsContainer = document.getElementById("buttonsContainer");
                buttonsContainer.innerHTML = "";

                const totalPages = Math.ceil(data.totalRecords / data.limit);

                for (let i = 1; i <= totalPages; i++) {
                    const btn = document.createElement("button");
                    btn.textContent = `${i}`;
                    btn.onclick = () => {
                        loadproduct(i);
                    };

                    buttonsContainer.appendChild(btn);
                }


            } catch (error) {
                console.error(error);
                tbody.innerHTML = `<tr><td colspan="4" style="text-align:center;color:red;">Error loading data</td></tr>`;
                document.getElementById("buttonsContainer").innerHTML = "";
            }
        }

        async function deleteproduct(productId) {
            const url = `http://localhost:3006/api/product/${productId}`
            if (confirm("Are u sure want to delete ?")) {
                const requestOptions = {
                    method: "DELETE",
                    redirect: "follow"
                };



                try {
                    const response = await fetch(url, {
                        method: 'DELETE',
                    });

                    if (response.ok) {
                        alert("product deleted successfully!");
                        window.location.reload()
                    } else {
                        const err = await response.text();
                        alert("Failed to submit form: " + err);
                    }
                } catch (error) {
                    console.error(error);
                    alert("An error occurred while submitting the form.");
                }
            }
        }
        loadproduct();
    </script>
    <%- include('../common/footer') %>